@import 'tailwindcss';

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #2563eb;
}

.dark {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --color-primary: #3b82f6;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body,
button,
input,
select,
textarea {
  @apply transition-colors duration-300;
}
